// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

body.dark-theme {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
    --ion-toolbar-background: #1f1f1f;
    --ion-item-background: #1f1f1f;
    --ion-item-color: #ffffff;
}
