<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <!-- Perfil del usuario -->
        <div class="profile-container">
          <div class="profile-header">
            <ion-avatar class="profile-avatar">
              <img *ngIf="systemUser?.profilePicture; else defaultAvatar"
                [src]="'http://localhost:8080/images/' + systemUser?.profilePicture"
                [alt]="systemUser?.firstName + ' ' + systemUser?.lastName + '\'s Profile Picture'">
              <ng-template #defaultAvatar>
                <ion-icon name="person-circle-outline" class="default-avatar-icon"></ion-icon>
              </ng-template>
            </ion-avatar>
            <div class="profile-info">
              <h2 class="profile-name">{{ systemUser?.firstName }} {{ systemUser?.lastName }}</h2>
              <p class="profile-email">{{ systemUser?.emailAddress }}</p>
            </div>
          </div>
          <div class="profile-divider"></div>
        </div>

        <!-- Lista principal -->
        <!-- <ion-list id="menu-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="full" detail="false" class="menu-item"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" class="menu-icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->

        <ion-list id="menu-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="p.url !== null ? [p.url] : null" lines="full" detail="false"
              class="menu-item" routerLinkActive="selected" (click)="p.action ? p.action() : null">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" class="menu-icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- Lista de etiquetas -->
        <ion-list id="labels-list">
          <ion-list-header class="labels-header">Trends</ion-list-header>
          <ion-item *ngFor="let label of labels" lines="none" class="label-item">
            <ion-icon slot="start" ios="trending-up-outline" md="trending-up-sharp" class="label-icon"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>

      <!-- Pie de menú -->
      <ion-footer>
        <ion-toolbar class="footer-toolbar">
          <ion-buttons slot="start">
            <ion-button>
              <ion-icon slot="start" ios="settings-outline" md="settings-sharp"></ion-icon>
              Settings
            </ion-button>
          </ion-buttons>

          <ion-buttons slot="end">
            <ion-button (click)="toggleDarkMode()">
              <ion-icon slot="icon-only" [name]="darkModeIcon"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="presentLogoutAlert()">
              <ion-icon slot="icon-only" ios="exit-outline" md="exit-sharp"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
